In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import roc_auc_score

In [2]:
train=pd.read_csv("train.csv")
train

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,SMS_received,No-show
0,2.987250e+13,5642903,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,0,No
1,5.589978e+14,5642503,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,0,No
2,8.679512e+11,5642828,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,0,No
3,8.841186e+12,5642494,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,0,No
4,9.598513e+13,5626772,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,0,No
...,...,...,...,...,...,...
99485,9.969977e+14,5650534,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,1,No
99486,3.635534e+13,5651072,2016-05-03T08:23:40Z,2016-06-07T00:00:00Z,1,No
99487,3.596266e+12,5650093,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,1,No
99488,1.557663e+13,5630692,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,1,No
99489,3.775115e+14,5629448,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,1,No

In [3]:
test=pd.read_csv("test_share.csv")
test

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,SMS_received
0,7.223289e+12,5640433,2016-04-29T10:43:14Z,2016-04-29T00:00:00Z,0
1,8.632298e+14,5616091,2016-04-25T13:29:16Z,2016-04-29T00:00:00Z,1
2,4.438587e+14,5637909,2016-04-29T07:30:31Z,2016-04-29T00:00:00Z,0
3,4.179932e+13,5638018,2016-04-29T07:37:45Z,2016-04-29T00:00:00Z,0
4,3.647762e+13,5614045,2016-04-25T10:01:13Z,2016-04-29T00:00:00Z,1
...,...,...,...,...,...
10849,5.133650e+14,5772155,2016-06-03T14:43:56Z,2016-06-07T00:00:00Z,0
10850,3.635534e+13,5651072,2016-05-03T08:23:40Z,2016-06-07T00:00:00Z,1
10851,3.596266e+12,5650093,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,1
10852,9.213493e+13,5630323,2016-04-27T15:09:23Z,2016-06-07T00:00:00Z,1
10853,3.775115e+14,5629448,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,1

In [4]:
medical=pd.read_csv("medical_history.csv")
medical

          PatientId  Hipertension  Diabetes  Alcoholism  Handcap
0      2.987250e+13             1         0           0        0
1      5.589978e+14             0         0           0        0
2      4.262962e+12             0         0           0        0
3      8.679512e+11             0         0           0        0
4      8.841186e+12             1         1           0        0
...             ...           ...       ...         ...      ...
62294  9.876246e+13             0         0           0        0
62295  8.674778e+13             0         0           0        0
62296  7.263315e+13             0         0           0        0
62297  9.969977e+14             0         0           0        0
62298  1.557663e+13             0         0           0        0

[62299 rows x 5 columns]

In [5]:
demographic=pd.read_csv("demographic_details.csv")
demographic

          PatientId Gender  Age      Neighbourhood  Scholarship
0      2.987250e+13      F   62    JARDIM DA PENHA            0
1      5.589978e+14      M   56    JARDIM DA PENHA            0
2      4.262962e+12      F   62      MATA DA PRAIA            0
3      8.679512e+11      F    8  PONTAL DE CAMBURI            0
4      8.841186e+12      F   56    JARDIM DA PENHA            0
...             ...    ...  ...                ...          ...
62294  9.876246e+13      F   41        MARIA ORTIZ            0
62295  8.674778e+13      M    2    ANTÃ”NIO HONÃ“RIO            0
62296  7.263315e+13      F   50        MARIA ORTIZ            0
62297  9.969977e+14      F   42        MARIA ORTIZ            0
62298  1.557663e+13      F   21        MARIA ORTIZ            0

[62299 rows x 5 columns]

In [6]:
# Merge datasets
train_data = pd.merge(train, medical, on='PatientId', how='left')
train_data = pd.merge(train, demographic, on='PatientId', how='left')
train_data

,PatientId,AppointmentID,ScheduledDay,AppointmentDay,SMS_received,No-show,Gender,Age,Neighbourhood,Scholarship
0,2.987250e+13,5642903,2016-04-29T18:38:08Z,2016-04-29T00:00:00Z,0,No,F,62,JARDIM DA PENHA,0
1,5.589978e+14,5642503,2016-04-29T16:08:27Z,2016-04-29T00:00:00Z,0,No,M,56,JARDIM DA PENHA,0
2,8.679512e+11,5642828,2016-04-29T17:29:31Z,2016-04-29T00:00:00Z,0,No,F,8,PONTAL DE CAMBURI,0
3,8.841186e+12,5642494,2016-04-29T16:07:23Z,2016-04-29T00:00:00Z,0,No,F,56,JARDIM DA PENHA,0
4,9.598513e+13,5626772,2016-04-27T08:36:51Z,2016-04-29T00:00:00Z,0,No,F,76,REPÃšBLICA,0
...,...,...,...,...,...,...,...,...,...,...
99485,9.969977e+14,5650534,2016-05-03T07:51:47Z,2016-06-07T00:00:00Z,1,No,F,42,MARIA ORTIZ,0
99486,3.635534e+13,5651072,2016-05-03T08:23:40Z,2016-06-07T00:00:00Z,1,No,F,52,MARIA ORTIZ,0
99487,3.596266e+12,5650093,2016-05-03T07:27:33Z,2016-06-07T00:00:00Z,1,No,F,51,MARIA ORTIZ,0
99488,1.557663e+13,5630692,2016-04-27T16:03:52Z,2016-06-07T00:00:00Z,1,No,F,21,MARIA ORTIZ,0
99489,3.775115e+14,5629448,2016-04-27T13:30:56Z,2016-06-07T00:00:00Z,1,No,F,54,MARIA ORTIZ,0

In [7]:
train_data.isnull().sum()

PatientId         0
AppointmentID     0
ScheduledDay      0
AppointmentDay    0
SMS_received      0
No-show           0
Gender            0
Age               0
Neighbourhood     0
Scholarship       0
dtype: int64

In [8]:
#'No-show' is target variable
y = train_data['No-show']

# Convert 'Yes' and 'No' to binary values
y = y.map({'Yes': 1, 'No': 0})

In [9]:
# 'No-show' is target variable
X = train_data.drop(columns=['No-show'])

In [10]:
# Print unique values in the 'ScheduledDay' and 'AppointmentDay' columns after conversion
print("Unique values in 'ScheduledDay' column:", X['ScheduledDay'].unique())
print("Unique values in 'AppointmentDay' column:", X['AppointmentDay'].unique())

Unique values in 'ScheduledDay' column: ['2016-04-29T18:38:08Z' '2016-04-29T16:08:27Z' '2016-04-29T17:29:31Z' ...
 '2016-05-03T07:27:33Z' '2016-04-27T16:03:52Z' '2016-04-27T13:30:56Z']
Unique values in 'AppointmentDay' column: ['2016-04-29T00:00:00Z' '2016-05-03T00:00:00Z' '2016-05-10T00:00:00Z'
 '2016-05-17T00:00:00Z' '2016-05-24T00:00:00Z' '2016-05-31T00:00:00Z'
 '2016-05-02T00:00:00Z' '2016-05-30T00:00:00Z' '2016-05-16T00:00:00Z'
 '2016-05-04T00:00:00Z' '2016-05-19T00:00:00Z' '2016-05-12T00:00:00Z'
 '2016-05-06T00:00:00Z' '2016-05-20T00:00:00Z' '2016-05-13T00:00:00Z'
 '2016-05-09T00:00:00Z' '2016-05-25T00:00:00Z' '2016-05-18T00:00:00Z'
 '2016-05-11T00:00:00Z' '2016-05-05T00:00:00Z' '2016-05-14T00:00:00Z'
 '2016-06-02T00:00:00Z' '2016-06-03T00:00:00Z' '2016-06-06T00:00:00Z'
 '2016-06-07T00:00:00Z' '2016-06-01T00:00:00Z' '2016-06-08T00:00:00Z']

In [11]:
# Convert date columns to datetime objects
X['ScheduledDay'] = pd.to_datetime(X['ScheduledDay'])
X['AppointmentDay'] = pd.to_datetime(X['AppointmentDay'])

In [12]:
# Extract features from datetime columns
X['ScheduledDay_year'] = X['ScheduledDay'].dt.year
X['ScheduledDay_month'] = X['ScheduledDay'].dt.month
X['ScheduledDay_day'] = X['ScheduledDay'].dt.day
X['ScheduledDay_hour'] = X['ScheduledDay'].dt.hour

In [13]:
# Drop unnecessary columns
X = X.drop(columns=['ScheduledDay', 'AppointmentDay'])

In [14]:
# One-hot encode categorical columns with handling unseen values
X_encoded = pd.get_dummies(X, columns=['Gender', 'Neighbourhood'], dummy_na=True)

In [15]:
# Identify and scale numeric columns
numeric_columns = X_encoded.select_dtypes(include=['number']).columns
scaler = StandardScaler()
X_scaled_numeric = scaler.fit_transform(X_encoded[numeric_columns])

In [16]:
# Concatenate scaled numeric features with one-hot encoded categorical features
X_scaled = pd.concat([pd.DataFrame(X_scaled_numeric, columns=numeric_columns), X_encoded.drop(columns=numeric_columns)], axis=1)

In [17]:
# Split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X_scaled, y, test_size=0.1, random_state=10)

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score

In [19]:
# Create and train a Logistic Regression model
model = LogisticRegression(random_state=10)
model.fit(X_train, y_train)

LogisticRegression(random_state=10)

In [20]:
# Predict probabilities for the validation set
y_val_pred_prob = model.predict_proba(X_val)[:, 1]

In [21]:
# Evaluate the model using ROC-AUC score
roc_auc = roc_auc_score(y_val, y_val_pred_prob)
print(f'ROC-AUC Score on Validation Set: {roc_auc}')

ROC-AUC Score on Validation Set: 0.6605115491553155